<!-- Items -->
<%= form_for oi, remote: true do |f| %>
<tr class="item">
  <td class="thumb">
    <a href="#"><%= image_tag (qiniu_cart_thumb(oi)) %></a>
  </td>
  <td class="qnt-count">
    <a href="/products/<%= get_product_id(oi) %>">
          <%= get_product_name(oi) %>
    </a>
    <p class="price"><%= number_to_currency oi.total_price %></p>
    <a class="incr-btn" href="#">-</a>
    <%= f.text_field :quantity, value: oi.quantity.to_i, class: "tb-form-control"i, id: "tb-form-control" %>
    <a class="incr-btn" href="#">+</a>
    <div class="type">
    <% dtype = get_type_by_oi(oi) %>
    <% dtypes = get_types_by_oi(oi) %>
    <div class="form-group">
      <label for="sel-type" style="display: inline-block;"></label>
      <select class="form-control" id="sel-type" style="width: 35%;min-width:100px;display: inline-block;">
        <%= dtypes.each do |dt| %>
          <% if dt == dtype %>
            <option selected><%= dt %></option>
          <% else %>
            <option><%= dt %></option>
          <% end %>
        <% end %>
      </select>
    </div>
    </div>
  </td>
  <td class="delete">
    <%= link_to '<i class="fa fa-times" aria-hidden="true"></i>'.html_safe, order_item_path(oi), method: "delete", remote: true %>
  </td >
  <p id="oi-id" style="display: none;">
    <%= oi.id %>
  </p>
</tr>
<% end %>
