<div class="container-fluid sel">
<div class="container-fluid sel-thumbnail">
  <div class="sel-left">
    <a href="#" class="thumbnail">
    <%= image_tag @product.thumb[0].to_s, size: "152x119" %>
    </a>
  </div>
  <div class="sel-right">
    <div class="sel-msg">
        <div id="product_name" class="key"></div>
        <div id="product_price" class="value"></div>
    </div>
  </div>
</div>

<!-- product type select -->
<div class="container-fluid sel-type">
  <div class="title">
  <p class="mylabel label-secondary">
    选择型号
  </p>
  </div>

  <div class="type">
    <div class="container-fluid">
      <div class="row">
        <ul class="rtype">
          <% if @skus.count > 1 %>
            <% @skus.each do |sku| %>
              <li style="display: inline-block">
                <input type="radio" data-labelauty=<%= sku.product_type%> name="radio" class="labelauty" style="display: none;" value=<%= sku.product_type %> id=<%= sku.id %> >
              </li>
            <% end %>
          <% elsif @skus.count == 1 %>
              <li>
                <input type="radio" data-labelauty="默认值" name="radio" class="labelauty" style="display: none;" value="默认值" id=<%= @skus[0].id %> >
              </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <script>
    $(document).ready(function(){
      $(":radio").labelauty();
    });
  </script>
</div>


<!-- product count -->
<div class="container-fluid sel-type" style="margin-top: 20px;">
  <div class="title">
    <p class="mylabel label-secondary">选择数量</p>
  </div>
  <div class="type">
    <div class="qnt-count">
      <a id="count_min" class="incr-btn" href="#">-</a>
      <input id="count_text_box" name="" type="text" value="1" class="form-control" />
      <a id="count_add" class="incr-btn" href="#">+</a>
    </div>
  </div>

</div>

<!-- add to cart -->
<div class="container-fluid sel-adc">
  <%= form_for @order_item, remote: true, :html => { :onsubmit => "beforeSubmit()" } do |f| %>
    <%= f.hidden_field :quantity, :id => "form-quantity" %>
    <%= f.hidden_field :stock_keeping_unit_id, :id => "form-sku-id" %>
    <%= f.submit "加入清单", :id => "form-add",
                             :class => "btn btn-primary btn-sm",
                             :style => "float: right;" %>
  <% end %>
</div>

</div>
