<div class="col-xs-6 col-md-3 col-sm-12">
  <div class="product">
    <a href=<%= product_path(product.id) %> id="imagelink">
      <%= image_tag(qiniu_image_url(product.image_url, :index), alt: "1", class: "thumb") %>
    </a>
    <div class="items">
      <div class="pname">
        <%= product.name %>
      </div>
      <div class="pprice">
        <%= number_to_currency product.price %>
        <div class="addtocart">
          <%= button_to product_path(product.id), :method => "get" do %>
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
