<div class="col-xs-6 col-md-3">
  <div class="product">
    <a href=<%= product_path(product.id) %> id="imagelink">
      <%= image_tag(qiniu_image_url(product.pictures[0].to_s, :index), alt: "1", class: "thumb") %>
    </a>
    <div class="items">
      <div class="pname">
        <%= product.name %>
      </div>
      <div class="pprice">
        <p style="color:orange;">
          <%= number_to_currency product.price %>
        </p>
        <div class="addtocart">
          <% if StockKeepingUnit.where("product_id=#{product.id}").count > 1 %>
            <%= link_to image_tag("shopping-cart.png"), product_path(product.id), :method => "get" %>
          <% elsif StockKeepingUnit.where("product_id=#{product.id}").count == 1 %>
            <%= form_for @order_item, remote: true do |f| %>
              <%= f.hidden_field :quantity, :value => 1 %>
              <%= f.hidden_field :product_id, value: product.id %>
              <%= f.submit "", :type => :image, :src => image_path("shopping-cart.png") %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
