<div style="display:block;">
<%= form_for @product do |f| %>
  <%= f.text_field :name %>
  <%= f.text_area :description %>
  <%= f.check_box :active %>
  <%= f.text_field :image_url %>
  <%= f.text_field :thumb %>
  <%= f.text_field :pictures %>
  <%= f.text_field :price %>

  <%= f.fields_for :stock_keeping_units do |sku| %>
    <div class="well">
      <%= sku.text_field :product_type %>
      <%= sku.text_field :inventory_count %>
      <%= sku.text_area :dimensions %>
      <%= sku.text_field :prices %>
      Delete: <%= sku.check_box :_destroy %>
    </div>
  <% end %>

  <%= f.submit "edit product", class: "btn btn-danger btn-sm" %>
<% end %>
</div>
