<div class="product">
  <div>
    <%= carousel_for(@product.pictures)%>
  </div>
  <div class="title">
    <p><%= @product.name %></p>
  </div>
  <div class="pricing">
    <div class="name col-xs-6">
      <div class="title">库存:</div>
      <div class="detail">
        <%= @mount %>
      </div>
    </div>
    <div class="name col-xs-6">
      <div class="title">价格:</div>
      <div class="detail">
        <%= number_to_currency @product.price %>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="pbutton col-xs-6">
      <%= button_to "加入购物车", new_order_item_path, remote: true, :class => 'pbutton add' %>
      <%= button_to "选择数量", new_order_item_path, remote: true, method: 'get', :class => 'pbutton sel' %>
    </div>
  </div>

  <div class="tabs">
    <div class="tabs-header">
      <div class="border"></div>
      <ul>
        <li class="active"><a href="#tab-1" tab-id="1" ripple="ripple" ripple-color="#FFF">
            商品详情</a></li>
        <li><a href="#tab-2" tab-id="2" ripple="ripple" ripple-color="#FFF">
            商品规格</a></li>
        <li><a href="#tab-3" tab-id="3" ripple="ripple" ripple-color="#FFF">
            商品图片</a></li>
      </ul>
    </div>
    <div class="tabs-content">
      <div tab-id="1" class="tab active">
        <%= @product.description %>
      </div>
      <div tab-id="2" class="tab">
        <% @skus.each do |sku| %>
          <h3><%= @product.name %>  <%= sku.product_type %></h3>
          <% sku.dimensions.each do |k, v| %>
            <p><%= k %>: <%= v %></p>
          <% end %>
        <% end %>
      </div>
      <div tab-id="3" class="tab">
        <% @product.pictures.each do |img| %>
          <p><%= image_tag(img, size: "200x150") %></p>
        <% end %>
      </div>
    </div>

    <%= render 'dialog' %>
  </div><!-- /product/tabs -->

</div><!-- /product -->
