<!--Hero Slider-->
<section class="hero-slider fullscreen">
	<div class="master-slider" id="fullscreen-slider">
  
  	<!--Slide 1-->
  	<div class="ms-slide" data-delay="7">
    	<div class="overlay"></div>
      <%= image_tag "slide_1.jpg", alt: "Nikon D45" %>
      <h2 style="width: 456px;" class="light-color ms-layer" data-effect="top(50,true)" data-duration="700" data-delay="250" data-ease="easeOutQuad">Nikon D4S</h2>
      <p style="width: 456px;" class="light-color ms-layer" data-effect="back(500)" data-duration="700" data-delay="500" data-ease="easeOutQuad">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.</p>
      <div class="ms-layer button" data-effect="bottom(50,true)" data-duration="600" data-delay="950" data-ease="easeOutQuad"><a class="btn btn-primary" href="#"><span>1845$</span>Buy it now</a></div>
    </div>
    
  	<!--Slide 2-->
  	<div class="ms-slide" data-delay="7">
      <span class="overlay"></span>
      <%= image_tag "slide_2.jpg", alt: "Nest" %>
      <h2 style="width: 456px;" class="light-color ms-layer" data-effect="bottom(50,true)" data-duration="700" data-delay="250" data-ease="easeOutQuad">Nest</h2>
      <p style="width: 456px;" class="light-color ms-layer" data-effect="bottom(50,true)" data-duration="700" data-delay="500" data-ease="easeOutQuad">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.</p>
      <div class="ms-layer button" data-effect="rotatebottom(30|90,long,br,true)" data-duration="600" data-delay="950" data-ease="easeOutQuad"><a class="btn btn-primary" href="#"><span>1640$$</span>Buy it now</a></div>
    </div>
    
  	<!--Slide 3-->
  	<div class="ms-slide" data-delay="7">
    	<div class="overlay"></div>
      <%= image_tag "slide_3.jpg", alt: "3D Printer" %>
      <h2 style="width: 456px;" class="light-color ms-layer" data-effect="left(50,true)" data-duration="700" data-delay="250" data-ease="easeOutQuad">3D Printer</h2>
      <p style="width: 456px;" class="light-color ms-layer" data-effect="left(50,true)" data-duration="700" data-delay="500" data-ease="easeOutQuad">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.</p>
      <div class="ms-layer button" data-effect="left(50,true)" data-duration="600" data-delay="950" data-ease="easeOutQuad"><a class="btn btn-primary" href="#"><span>2500$</span>Buy it now</a></div>
    </div>
    
  </div>
</section><!--Hero Slider Close-->


<div class="product">
  <div style="height:400px;width:auto;">
    <%= carousel_for(@product.pictures)%>
  </div>
  <div class="title">
    <p><%= @product.name %></p>
  </div>
  <div class="pricing">
    <div class="name col-xs-6">
      <div class="title">库存:</div>
      <div class="detail">
        <%= @mount %>
      </div>
    </div>
    <div class="name col-xs-6">
      <div class="title">价格:</div>
      <div class="detail">
        <%= number_to_currency @product.price %>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="pbutton">
      <%= link_to "加入购物车", new_order_item_path, remote: true, :class => 'pbutton add' %>
      <%= link_to "选择数量", new_order_item_path, remote: true, method: 'get', :class => 'pbutton sel' %>
    </div>
  </div>

</div><!-- /product -->


<!-- Tabs Widget -->
<section class="tabs-widget">
  <!-- Nav Tabs -->
  <ul class="nav nav-tabs">
    <li><a href="#detail" data-toggle="tab" aria-expanded="true">商品详情</a></li>
    <li class="active"><a href="#dimens" data-toggle="tab" aria-expanded="false">商品规格</a></li>
    <li><a href="#pictur" data-toggle="tab">商品图片</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane fade" id="detail">
      <p class="p-style2">
        <%= @product.description %>
      </p>
    </div>
    <div class="tab-pane fade active in" id="dimens">
      <div class="container">
        <div class="row">
          <section class="tech-specs">
            <% @skus.each do |sku| %>
            <div class="row">
              <!-- Item -->
              <h4><span><%= @product.name %>  <%= sku.product_type %></span></h4>
              <% sku.dimensions.each do |k, v| %>
              <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="item">
                  <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-3">
                      <i class="fa fa-info-circle" aria-hidden="true"></i>
                      <span><%= k %></span>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-9">
                      <p class="p-style2"><%= v %></p>
                    </div>
                  </div>
                </div>
              </div>
              <% end %>
            </div>
            <% end %>
          </section>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="pictur">
      <% @product.pictures.each do |img| %>
        <p><%= image_tag(img, size: "461x484") %></p>
      <% end %>
    </div>

    <%= render 'dialog' %>
  </div> <!-- tabs content -->
</section>
