<h1>Product Detail Page</h1>
<div class="panel panel-danger">
  <div class="panel-heading">
    Product detail page
  </div>
  <div class="panel-body">
    <%= @product.name %>
  </div>
</div>

<div class="well">
  <div class="row">
    <div>
      <%= carousel_for(@product.pictures)%>
    </div>

    <div class="VerticalSpace"></div>
    <div>
      <p style="text-align:center;"><%= @product.name %></p>
      <div class="VerticalSpace"></div>

      <div>
        <div style="width:50%;float:left;">
          <p style="text-align:center;">
            <span class="label label-info">库存:</span>
            <%= @product.description %>
          </p>
        </div>
        <div style="width:50%;float:right;">
          <p style="text-align:center;">
            <span class="label label-info">价格:</span>
            <%= number_to_currency @product.price %>
          </p>
        </div>
      </div>

      <div class="VerticalSpace"></div>
      <div style="height:60px;">
        <div style="width:20%;height:20px;float:right;">
          <%= button_to "加入购物车", class:'btn btn-default' %>
        </div>

        <div style="width:20%;height:20px;float:right;">
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#countModal" style="width:100px;height:30px;">
            选择数量
          </button>
          <!-- Modal -->
          <div class="modal fade" id="countModal" tabindex="-1" role="dialog" aria-labelledby="countModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <h4 class="modal-title" id="countModalLabel">选择商品数量</h4>
                </div>
                <div class="modal-body">
                  <div class="container">
                    <div style="width:40%;height:150px;float:left;">
                      <%= image_tag("1.png", size: "100x150")%>
                    </div>
                    <div class="row" style="width:60%;height:150px;float:right;">
                      <div style="width:75%;height:50%;">
                        <h4>
                          <span class="label label-info">商品名称:</span>
                          <%= @product.name %>
                        </h4>
                      </div>
                      <div style="width:75%;height:50%;">
                        <h4>
                          <span class="label label-info">商品价格:</span>
                          <%= number_to_currency @product.price %>
                        </h4>
                      </div>
                    </div>
                  </div>
                  </br>
                  <div class="container-fluid alert alert-success" role="alert">
                    <div style="width:20%;float:left;">
                      <h4><span class="label label-default">选择型号:</span></h4>
                    </div>
                    <div class="btn-group" data-toggle="buttons" style="width:80%;float:left;">
                      <% @skus.each do |sku| %>
                        <label class="btn btn-primary">
                          <input type="checkbox" autocomplete="off">
                            <%= sku.product_type %>
                          </input>
                        </label>
                        <div class="HorizontalSpace"></div>
                      <% end %>
                    </div>
                  </div>
                  <!-- product count -->
                  <div class="container-fluid alert alert-info" role="alert">
                    <div style="width:20%;float:left;">
                      <h4><span class="label label-default">选择数量:</span></h4>
                    </div>
                    <div style="widht:40%;float:left;">
                      <table style="text-align:center;">
                        <tr>
                          <td>
                            <input id="min" name="" type="button" value="-" />
                            <input id="text_box" name="" type="text" value="1" style="width:30px;" />
                            <input id="add" name="" type="button" value="+" />
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
                  <button type="button" class="btn btn-warning">加入购物车</button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="VerticalSpace"></div>
      <div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active">
            <a href="#detail" aria-controls="detail" role="tab" data-toggle="tab">商品详情</a>
          </li>
          <li role="presentation">
            <a href="#specification" aria-controls="specification" role="tab" data-toggle="tab">商品规格</a>
          </li>
          <li role="presentation">
            <a href="#pictures" aria-controls="pictures" role="tab" data-toggle="tab">商品图片</a>
          </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="detail">
            商品详情: V3000 Rack Shipment Bracket
            供应商: 上海祺冠系统集成有限公司
          </div>
          <div role="tabpanel" class="tab-pane" id="specification">
            处理器: 因特尔R 至强R 处理器E5-2609 v4
                    1.7GHz
            Cache: 20MB
            网卡: 板载双口千兆网络适配器，可选PCI-e双口
                  10Gb网络适配器或双口16Gb光纤通道卡
          </div>
          <div role="tabpanel" class="tab-pane" id="pictures">...</div>
        </div>
      </div>

    </div>
  </div>

</div>
