<h1>Product Detail Page</h1>
<div class="panel panel-danger">
  <div class="panel-heading">
    Product detail page
  </div>
  <div class="panel-body">
    <%= @product.name %>
  </div>
</div>

<div class="well">
  <div class="row">
    <div>
      <%= carousel_for(@product.pictures)%>
    </div>

    <div>
      <%= @product.name %>
      <div display:inline>
        <span class="label label-default">库存:</span>
        <%= @product.description %>
      </div>
      <div>
        <span class="label label-default">
          <%= @product.price %>
        </span>
      </div>
      <div>
      </div>
    </div>
  </div>

</div>
