<div class="col-lg-1"></div>
<div class="col-lg-10">
<%= carousel_for(qiniu_carousel(@product.pictures)) %>

<div class="d-title">
  <p><%= @product.name %></p>
</div>

<div class="d-pricing">
  <div class="col-xs-6">
    <div class="dl-title"><i class="fa fa-tag" aria-hidden="true"></i>库存</div>
    <div class="dl-count"><%= @mount %></div>
  </div>
  <div class="name col-xs-6">
    <div class="dl-title"><i class="fa fa-tag" aria-hidden="true"></i>价格</div>
    <div class="dl-price"><%= number_to_currency @product.price %></div>
  </div>
</div>

<div class="container-fluid box">
  <div class="pbutton">
    <%= link_to "选择数量", new_order_item_path, remote: true, method: 'get', :class => 'pbutton sel', :style => "text-decoration: none" %>
    <%= form_for @order_item, remote: true do |f| %>
      <%= f.hidden_field :quantity, :value => 1 %>
      <%= f.hidden_field :product_id, value: @product.id %>
      <%= f.submit "加入清单", :class => "pbutton add" %>
    <% end %>
  </div>
</div>

<!-- Tabs Widget -->
<section class="tabs-widget">
  <!-- Nav Tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#detail" data-toggle="tab" aria-expanded="false">商品详情</a></li>
    <li><a href="#dimens" data-toggle="tab" aria-expanded="true">商品规格</a></li>
    <li><a href="#pictur" data-toggle="tab">商品图片</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane fade active in" id="detail">
      <p class="p-style2">
        <%= @product.description %>
      </p>
    </div>
    <div class="tab-pane fade" id="dimens">
      <div class="container">
        <div class="row">
          <section class="tech-specs">
            <div class="row">
              <!-- Item -->
              <% @dimensions.each do |disn| %>
                <div class="col-lg-6 col-md-6 col-sm-6">
                  <div class="item">
                    <div class="row">
                      <div class="division">
                        <div class="key"><%= disn.key %></div>
                        <div class="value"><%= disn.val %></div>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </section>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="pictur">
      <% @product.pictures.each do |img| %>
        <p><%= image_tag(img, style:"width:100%;") %></p>
        <hr />
      <% end %>
    </div>

  </div> <!-- tabs content -->
</section>
</div>
<div class="col-lg-1"></div>
