<!DOCTYPE html>
<html>
  <head>
    <title>ShoppingCart</title>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true  %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <hr>
    <div class="container">
      <div class="row">
        <div>
          <%= yield %>
        </div>
        <div class="col-xs-6 text-righoo>
          <h1 class="cart-text"><%= render 'layouts/cart_text' %></h1>
        <div>
      </div>
    </div>
    <hr>
    <%= render 'layouts/footer' %>
  </body>

</html>
