<!DOCTYPE html>
<html>
  <head>
    <title>ShoppingCart</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true  %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= render 'layouts/shim' %>
  </head>

  <body>

    <%= render 'order_items/dialog' %>

    <div canvas="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <!-- Page Content -->
      <section class="catalog-grid">
        <%= yield %>
      </section>
    </div>
    <!-- /canvas -->
    <%= render 'layouts/header' %>
    <div off-canvas="main-menu left shift" style="margin-left: -255px;">
      <%= image_tag("slidebars-logo-white.png", id: "logo-menu", alt: "存储互联") %>
      <%= render 'layouts/submenus' %>
    </div>

    <div id="fixed-footer" canvas="">
      <%= render 'layouts/footer' %>
    </div>

  </body>

  <script>
$(function() {
	var Accordion = function(el, multiple) {
		this.el = el || {};
		this.multiple = multiple || false;

		// Variables privadas
		var links = this.el.find('.link');
		// Evento
		links.on('click', {el: this.el, multiple: this.multiple}, this.dropdown)
	}

	Accordion.prototype.dropdown = function(e) {
		var $el = e.data.el;
			$this = $(this),
			$next = $this.next();

		$next.slideToggle();
		$this.parent().toggleClass('open');

		if (!e.data.multiple) {
			$el.find('.submenu').not($next).slideUp().parent().removeClass('open');
		};
	}	

	var accordion = new Accordion($('#accordion'), false);
});
  </script>

  <script>
    ( function ($) {
      // Initialize slidebars
      var controller = new slidebars();
      controller.init();

      // Toggle main menu
      $( '.js-toggle-main-menu' ).on( 'click', function(event){
        event.preventDefault();
        event.stopPropagation();
        controller.toggle('main-menu');
      });

      // Add close class to canvas container when Slidebar is open
      $(controller.events).on('opening', function(event){
        $('[canvas]').addClass('js-close-any');
      });

      // Add class class to canvas container when Slidebar is open
      $(controller.events).on('closing', function(event){
        $('[canvas]').removeClass('js-close-any');
      });

      // Close any
      $(document).on('click', '.js-close-any', function(event){
        if (controller.getActiveSlidebar()) {
          event.preventDefault();
          event.stopPropagation();
          controller.close();
        }
      });
    }) (jQuery);
  </script>

</html>
