<!DOCTYPE html>
<html>
  <head>
    <title>ShoppingCart</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true  %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <%= render 'layouts/header' %>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">联想存储优品汇</span>
        <nav class="mdl-navigation">
          <% Category.find_each do |category| %>
            <%= link_to category.name, '#', class: 'mdl-navigation__link' %>
          <% end %>
        </nav>
      </div>
      <main class="mdl-layout__content">
        <div class="page-content price-list-max-width">
          <%= yield %>
        </div>
      </main>

      <%= paginate @products, :window => 2 %>
      <%= render 'layouts/footer' %>
    </div>
  </body>

</html>
