<!DOCTYPE html>
<html>
  <head>
    <title>ShoppingCart</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true  %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= render 'layouts/shim' %>
  </head>

  <body>

    <div canvas="container">
      <!-- Page Content -->
      <section class="catalog-grid">
        <%= yield %>
      </section>
    </div>
    <!-- /canvas -->
    <%= render 'layouts/header' %>
    <div off-canvas="main-menu left shift" style="margin-left: -255px;">
      <%= image_tag("slidebars-logo-white.png", id: "logo-menu", alt: "存储互联") %>
      <ul class="menu small">
        <li><a href="#"><span class="fa fa-home"></span>" Home"</a></li>
        <li><a href="#"><span class="fa fa-home"></span>" Home"</a></li>
        <li><a href="#"><span class="fa fa-home"></span>" Home"</a></li>
        <li><a href="#"><span class="fa fa-home"></span>" Home"</a></li>
      </ul>
    </div>

    <div id="fixed-position" canvas="">
      <%= render 'layouts/footer' %>
    </div>

  </body>

  <script>
    ( function ($) {
      // Initialize slidebars
      var controller = new slidebars();
      controller.init();

      // Toggle main menu
      $( '.js-toggle-main-menu' ).on( 'click', function(event){
        event.preventDefault();
        event.stopPropagation();
        controller.toggle('main-menu');
      });

      // Add close class to canvas container when Slidebar is open
      $(controller.events).on('opening', function(event){
        $('[canvas]').addClass('js-close-any');
      });

      // Add class class to canvas container when Slidebar is open
      $(controller.events).on('closing', function(event){
        $('[canvas]').removeClass('js-close-any');
      });

      // Close any
      $(document).on('click', '.js-close-any', function(event){
        if (controller.getActiveSlidebar()) {
          event.preventDefault();
          event.stopPropagation();
          controller.close();
        }
      });
    }) (jQuery);
  </script>

</html>
