<!DOCTYPE html>
<html>
  <head>
    <title>ShoppingCart</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true  %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title">存储互联</span>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
          <%= link_to '#user', class: 'mdl-button mdl-js-button mdl-button--icon' do %>
            <i class="material-icons">search</i>
          <% end %>
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">联想存储优品汇</span>
        <nav class="mdl-navigation">
          <% Category.find_each do |category| %>
            <%= link_to category.name, '#', class: 'mdl-navigation__link' %>
          <% end %>
        </nav>
      </div>
      <main class="mdl-layout__content">
      <div class="page-content">
      </div>
      </main>
    </div>
  </body>

</html>
